**/.DS_Store
*-debug.log
*-debug.log
*-error.log
*-error.log
/.idea
/.nyc_output
/dist
/dist
/lib
/lib
/package-lock.json
/tmp
/tmp
/yarn.lock
node_modules
node_modules
oclif.lock
oclif.manifest.json

cookies.*
temp/*
ffmpeg.*
ffplay.*
ffprobe.*